*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background: linear-gradient(180deg, #005cbf 0%, #4bbff2 100%);
  overflow-x: hidden;
  font-family: 'Inter', Tahoma, sans-serif;
  color: var(--main-text--color);
}
a {
  text-decoration: none;
}
ul,
ol {
  padding: 0;
  list-style: none;
  margin: 0;
}
p,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* //========= FONTS ==============// */
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* //========= ROOT AND CONTAINER ==============// */
:root {
  --main-text--color: #ffffff;
  --text--color: #00d1ff;
}
@media screen and (min-width: 390px) {
  .container {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
  }
}

/* //========= STYLES ==============// */

@media screen and (min-width: 390px) {
  h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.01em;
  }

  .logo-container {
    margin-top: 30px;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 4px;
  }
  .logo-container > h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.5;
    letter-spacing: 0.01em;
  }
  .logo-container > p {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.01em;
  }
  .text-decoration {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: var(--text--color);
  }
  .logo-container > img {
    transform: translateY(3px);
  }
  .description-wrapper {
    margin-top: 15px;
  }

  .description-wrapper > p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    margin-top: 4px;
  }
  .tehnologies_wrapper {
    margin-top: 12px;
  }
  .technology_list {
    margin-top: 11px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
  }

  .hero-section {
    position: relative;

    padding: 20px 0;
    width: 100vw;
    height: 368px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
  }
  .hero-image {
    position: absolute;
    right: -100px;
    top: 20px;
    width: 364px;
    height: 328px;
    background-image: url('../images/main/hero.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center; /* shift image to the right */

    float: right; /* float the div to the right */
  }

  .line {
    position: relative;
    padding-top: 12px;
  }
  .line:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--main-text--color);
  }
  .footer-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
  }
  .footer-list > li > p {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.01em;
  }
  .footer-list > li > a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: var(--main-text--color);
  }
  .link {
    font-style: normal;
    font-weight: 500;
    text-decoration: underline;
    font-size: 16px;
    line-height: 1.8;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: var(--main-text--color);
  }
}
